In [1]:
cd ../

c:\Users\bhavy\Desktop\learnsphere-hackomania\backend

In [2]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\bhavy\desktop\learnsphere-hackomania\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import StackingRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv('data/cleaned/student-final-notprocessed.csv')

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', '{:.2f}'.format)

data.head()

,gender,mother_job,father_job,internet,freetime,absences,grade_1,grade_2,G3,school_support,family_support,extra_paid_class,extracurricular,higher_edu,romantic_rel
0,F,at_home,teacher,no,3,5,2,8,8,yes,no,no,no,yes,no
1,F,at_home,other,yes,3,3,7,8,8,no,yes,no,no,yes,no
2,F,at_home,other,yes,3,8,10,10,11,yes,no,yes,no,yes,no
3,F,health,services,yes,2,1,14,14,14,no,yes,yes,yes,yes,yes
4,F,other,other,no,3,2,8,12,12,no,yes,yes,no,yes,no

In [6]:
# Calculate average and add as new column
data['average_grade'] = data[['grade_1', 'grade_2', 'G3']].mean(axis=1)

In [7]:
# Drop the original 'grade_1' and 'grade_2' columns
data = data.drop(columns=['grade_1', 'grade_2', 'G3'])

In [8]:
data.head()

,gender,mother_job,father_job,internet,freetime,absences,school_support,family_support,extra_paid_class,extracurricular,higher_edu,romantic_rel,average_grade
0,F,at_home,teacher,no,3,5,yes,no,no,no,yes,no,6.00
1,F,at_home,other,yes,3,3,no,yes,no,no,yes,no,7.67
2,F,at_home,other,yes,3,8,yes,no,yes,no,yes,no,10.33
3,F,health,services,yes,2,1,no,yes,yes,yes,yes,yes,14.00
4,F,other,other,no,3,2,no,yes,yes,no,yes,no,10.67

In [ ]:
input_features = ['gender', 'mother_job', 'father_job', 'internet', 'freetime', 'absences',
                  'school_support', 'family_support', 'extra_paid_class',
                  'extracurricular', 'higher_edu']

X = data[input_features]
y = data['average_grade']